[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/bitcoinprism-evm"]
	path = lib/bitcoinprism-evm
	url = https://github.com/catalystdao/bitcoinprism-evm
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/the-compact"]
	path = lib/the-compact
	url = https://github.com/Uniswap/the-compact
[submodule "lib/permit2"]
	path = lib/permit2
	url = https://github.com/Uniswap/permit2
